div(ng-controller='ArticlesListCtrl')
  div(flex='', ng-repeat='article in articles')
    .md-whiteframe-z2(layout-padding='', ng-click='viewArticle(article)', style='cursor:pointer;')
      .md-title {{article.title}}
      .md-subhead {{article.description}}
