div.article-content
  script.
    _globals.do()

  p.md-display-2 Snapping. The nerdy way.
  p.md-title Introduction
  p
    i NOTE. You can use middle-button for panning and wheel for zooming.
  canvas#demo1(width='900px', height='400px')
  p You should have noticed that placing square into corner was not easy, and definitely not user-friendly.
  p Let's see what we can do to make it better...
  div(layout='row')
    div(flex='')
      pre
        code(class='language-coffeescript')
          |    position = @square.getPosition()
          |    if position.distanceTo(@start) < 10
          |        return @start.subtract(position)
    div(flex='')
      canvas#demo2(width='400px', height='300px')

  script.
    Prism.highlightAll()

