div.article-content
  p.md-display-2 Snapping. The nerdy way.
  p.md-title Introduction
  canvas#demo1(width='900px', height='400px', style='border:1px solid black')
  p.md Hello World
  //- script(src='articles/content/draw.js')
  script.
    _globals.do()
