md-select(ng-model='selectedAccount' )
  md-option(ng-repeat='a in accounts' ng-value='a')
    span(style='display: inline-block; width: 20px; height: 20px;', ng-style='{"background-color": a.color}')
    span {{a.name + ' (' + a.currency + ')'}}
