html(lang='en', ng-app='StarterApp')
  head
    //- inline ./bower_components/angular-material/angular-material.min.css
    link(rel='stylesheet', href='./bower_components/angular-material/angular-material.min.css', inline='')
    link(rel='stylesheet', href='./bower_components/angular-material-data-table/dist/md-data-table.min.css', inline='')
    link(rel='stylesheet', href='./bower_components/md-color-picker/dist/mdColorPicker.min.css', inline='')
    //- inline ../app.css
    link(rel='stylesheet', href='../app.css', inline='')  


  body.md-default-theme(ng-controller='AppCtrl' style='overflow: hidden; height:100%')
    div(style='width: 100%;' layout='row')
      div(layout='column')
        div(ng-controller='AccountsListCtrl' flex='33' layout='column')
          div.md-whiteframe-z1(style='margin:10px' layout-padding='' layout='column' flex='')
            md-data-table-toolbar
              h2 Accounts
              md-checkbox(ng-model='autoSelect') Auto
              md-datepicker(ng-model='date' ng-disabled='autoSelect')
            md-content
              md-data-table-container
                table(md-data-table='')
                  thead
                    tr
                      th
                      th(name='Color')
                      th(name='Name')
                      th(name='Balance')
                      th(name='Currency')
                  tbody
                    tr(ng-repeat='account in accounts')
                      td(style='padding-right: 0;')
                        span(style='display: inline-block; width: 20px; height: 20px; cursor: pointer', ng-style='{"background-color": account.account.color}')
                      td(style='padding-left: 20px;')
                        md-input-container(style='padding: 2px;')
                          input(ng-model='account.account.color' style='width: 50px')
                      td {{account.account.name}}
                      td(style='min-width: 100px;') {{account.balance | number : 2}}
                      td {{account.account.currency}}
                      td
                        button(style='background: none; border: none;')
                          ng-md-icon(icon='delete' style="fill: #ff8c66; cursor:pointer;" size='24' ng-click='delete(account)')
                    tr
                      form(ng-submit='add()')
                        td
                        td 
                        td 
                          md-input-container
                            label Name
                            input(ng-model='newAccountName')
                        td 
                        td 
                          md-input-container
                            label Currency
                            input(ng-model='newAccountCurrency' style='width:40px')
                        td
                          button(type='submit' style='background: none; border: none;')
                            ng-md-icon(icon='add' style="fill: #66ffcc; cursor:pointer;" size='24' )

        md-content(ng-controller='PaymentsListCtrl' flex='66' )
          .md-whiteframe-z1(style='margin:10px' layout='column')
            h2 Payments
            md-content(layout='row')
              md-button.md-raised(ng-click='newSimplePayment()') Simple
              md-button.md-raised(ng-click='newPeriodicPayment()') Periodic
              md-button.md-raised(ng-click='newBorrowPayment()') Borrow
              md-button.md-raised(ng-click='newTaxableIncomePayment()') Income
            md-content(layout='column')
              div(ng-include="'SimplePayment.html'" )
                
              div(ng-repeat-start='p in payments' ng-mouseenter='enteredPayment(p)' ng-mouseleave='leftPayment(p)' ng-hide='p.showEdit' \
                  layout='row' layout-align='space-between center' layout-padding='' style='border-top: solid 1px rgba(0, 0, 0, 0.117647)')
                div(style='width: 180px;') {{p.description}}
                div(style='width: 120px;') {{p.type}}
                div(style='width: 100px;') {{p.date | date : 'dd/MM/yyyy'}}
                div(style='width: 80px;') {{p.amount | number : 2}}
                div(style='width: 80px;') {{p.currency}}
                div(style='width: 100px;' layout='row' layout-align='start center')
                  div(style='padding:10px; margin-right: 10px;' ng-style='{"background-color": p.color}')
                  div {{p.accountName}}
                div(style='padding-right: 0;')
                  button(style='background: none; border: none;')
                    ng-md-icon(icon='edit' style="fill: #99c2ff; cursor:pointer;" size='24' ng-click='edit(p)')
                div(style='padding-left: 0;')
                  button(style='background: none; border: none;')
                    ng-md-icon(icon='delete' style="fill: #ff8c66; cursor:pointer;" size='24' ng-click='delete(p)')
              div(ng-repeat-end='' ng-show='p.showEdit' layout-padding='' style='border-top: solid 1px rgba(0, 0, 0, 0.117647)')
                div(ng-if='p.showEdit' ng-include='"finance/templates/editors/" + templateFor(p.payment)')
                md-content(layout='row' layout-align='end center')
                  md-button.md-raised(ng-click='cancelEdit(p)') Cancel
                  md-button.md-raised(ng-click='saveEdit(p)') Save
                
      md-content(ng-controller='TransactionsListCtrl' layout='column')
        .md-whiteframe-z1(style='margin:10px' flex='90' layout='column' layout-padding='')
          md-data-table-toolbar
            h2 Transactions
          md-data-table-container
            table(md-data-table='')
              thead()
                tr
                  th
                  th(name='Description')
                  th(name='Amount')
                  th(name='Date')
              tbody
                tr(md-auto-select='', ng-repeat='transaction in allTransactions' ng-mouseenter='simulateUntil(transaction)' ng-mouseleave='simulateAll()' layout-padding='' ng-style='{"background-color": transaction.higlight ? "#b3ffb3" : null }')
                  td(style='padding-right: 0;')
                    span(style='display: inline-block; width: 20px; height: 20px; cursor: pointer', ng-style='{"background-color": transaction.account.color}')
                  td {{transaction.description}}
                  td {{transaction.amount | currency}}
                  td {{transaction.jsDate | date : 'dd/MM/yyyy'}}  
      
      div(ng-controller='SerializationCtrl' layout='column' flex='')
        textarea(ng-model='serializedData' flex='')
        div(layout='row')
          md-button.md-raised(ng-click='loadData()') Load
          md-button.md-raised(ng-click='saveData()') Save
      
    //- inline
    script(src='./bower_components/lodash/lodash.js', inline='')
    //- inline
    script(src='./bower_components/jquery/dist/jquery.min.js', inline='')
    //- inline
    script(src='./bower_components/jquery-mousewheel/jquery.mousewheel.min.js', inline='')
    //- inline
    script(src='./bower_components/bluebird/js/browser/bluebird.js', inline='')

    script(src='./bower_components/moment/min/moment.min.js', inline='')

    script(src='./bower_components/angular/angular.js')
    script(src='./bower_components/angular-messages/angular-messages.js')
    script(src='./bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='./bower_components/angular-animate/angular-animate.min.js')
    script(src='./bower_components/angular-aria/angular-aria.min.js')
    script(src='./bower_components/angular-material/angular-material.min.js')
    script(src='./bower_components/angular-material-icons/angular-material-icons.min.js')
    script(src='./bower_components/angular-material-data-table/dist/md-data-table.min.js')
    script(src='./bower_components/tinycolor/dist/tinycolor-min.js')
    script(src='./bower_components/md-color-picker/dist/mdColorPicker.min.js')

    script(src='./finance/utils.js')
    script(src='./finance/model.js')
    script(src='./finance/data.js')
    script(src='./finance/app.js')
    script(src='./finance/services/DataService.js')
    script(src='./finance/services/SimulationService.js')
    script(src='./finance/controllers/editors.js')
    script(src='./finance/controllers/AccountsListCtrl.js')
    script(src='./finance/controllers/PaymentsListCtrl.js')
    script(src='./finance/controllers/SerializationCtrl.js')
    script(src='./finance/controllers/TransactionsListCtrl.js')
    script(src='./finance/templates/utils/AccountsDropDown.js')
