html(lang='en', ng-app='StarterApp')
  head
    //- inline ./bower_components/angular-material/angular-material.min.css
    link(rel='stylesheet', href='./bower_components/angular-material/angular-material.min.css', inline='')
    //- inline ../app.css
    link(rel='stylesheet', href='../app.css', inline='')

  script(type='text/ng-template' id='scheduledItem.html')
    .md-whiteframe-z1
      div {{item.memo.text}}
      span Learned:
      div {{item.memo.learnDate | date : 'fullDate' }}
      span Repeat:
      div {{item.date | date : 'fullDate' }}
      
  script(type='text/ng-template', id='SimplePayment.html')
    span(style='display: inline-block; width: 130px') {{p.description}}
    span(style='display: inline-block; width: 130px') {{p.date}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.currency}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.amount}}

  script(type='text/ng-template', id='BorrowPayment.html')
    span(style='display: inline-block; width: 130px') {{p.description}}
    span(style='display: inline-block; width: 130px') {{p.date}}
    span(style='display: inline-block; width: 130px') {{p.returnDate}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.currency}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.amount}}

  script(type='text/ng-template', id='PeriodicPayment.html')
    span(style='display: inline-block; width: 130px') {{p.description}}
    span(style='display: inline-block; width: 130px') {{p.date}}
    span(style='display: inline-block; width: 130px') {{p.period}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.currency}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.amount}}

  script(type='text/ng-template', id='TaxableIncomePayment.html')
    span(style='display: inline-block; width: 130px') NOOOO
    span(style='display: inline-block; width: 130px') {{p.date}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.currency}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.amount}}
  

  body(ng-controller='AppCtrl' style='overflow: hidden; height:100%')
    md-content(style='width: 100%;' layout='row')
      md-content(layout='column')
        div(ng-controller='AccountsListCtrl')
          div(layout='row') 
            div Showing balance for: 
            div {{ date | date : 'fullDate'}}
          div(layout-padding='' ng-repeat='account in accounts')
            .md-whiteframe-z1(layout-padding='' layout='row')
              span(style='width: 20px; height: 20px', ng-style='{"background": account.account.color}')
              span(style='width: 130px') {{account.account.name}}
              span(style='width: 130px') {{account.balance}}
              span(style='width: 130px') {{account.account.currency}}
        md-content(ng-controller='PaymentsListCtrl')
          div(layout-padding='' ng-repeat='p in payments' )
            .md-whiteframe-z1(ng-mouseenter='enteredPayment(p)', ng-mouseleave='leftPayment(p)', layout-padding='')
              div(ng-include='templateFor(p)' style='display: inline-block;')
      
      md-content(ng-controller='TransactionsListCtrl' layout='column' layout-align='start center' layout-padding='')
        div
          div(layout-padding='' ng-repeat='transaction in allTransactions' )
            .md-whiteframe-z1(layout='row' ng-mouseenter='simulateUntil(transaction)' ng-mouseleave='simulateAll()' layout-padding='' ng-style='{"background": transaction.higlight ? "green" : null }')
              span(style='width: 20px; height: 20px', ng-style='{"background": transaction.color}')
              span(style='width: 130px') {{transaction.description}}
              span(style='width: 100px') {{transaction.amount | currency}}
              span(style='width: 100px') Date:
              span(style='width: 250px') {{transaction.jsDate | date : 'fullDate'}}
        
    //- inline
    script(src='./bower_components/lodash/lodash.js', inline='')
    //- inline
    //- script(src='./bower_components/jquery/dist/jquery.min.js', inline='')
    //- inline
    //- script(src='./bower_components/jquery-mousewheel/jquery.mousewheel.min.js', inline='')
    //- inline
    script(src='./bower_components/bluebird/js/browser/bluebird.js', inline='')

    script(src='./bower_components/moment/min/moment.min.js', inline='')

    script(src='./bower_components/angular/angular.js')
    script(src='./bower_components/angular-messages/angular-messages.js')
    script(src='./bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='./bower_components/angular-animate/angular-animate.min.js')
    script(src='./bower_components/angular-aria/angular-aria.min.js')
    script(src='./bower_components/angular-material/angular-material.min.js')
    script(src='./bower_components/angular-material-icons/angular-material-icons.min.js')

    script(src='./finance/app.js')
