html(lang='en', ng-app='StarterApp')
  head
    //- inline ./bower_components/angular-material/angular-material.min.css
    link(rel='stylesheet', href='./bower_components/angular-material/angular-material.min.css', inline='')
    link(rel='stylesheet', href='./bower_components/angular-material-data-table/dist/md-data-table.min.css', inline='')
    //- inline ../app.css
    link(rel='stylesheet', href='../app.css', inline='')

  script(type='text/ng-template' id='scheduledItem.html')
    .md-whiteframe-z1
      div {{item.memo.text}}
      span Learned:
      div {{item.memo.learnDate | date : 'dd/MM/yyyy' }}
      span Repeat:
      div {{item.date | date : 'dd/MM/yyyy' }}
      
  script(type='text/ng-template', id='SimplePayment.html')
    span(style='display: inline-block; width: 130px') {{p.description}}
    span(style='display: inline-block; width: 130px') {{p.jsDate | date : 'dd/MM/yyyy'}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.currency}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.amount}}

  script(type='text/ng-template', id='BorrowPayment.html')
    span(style='display: inline-block; width: 130px') {{p.description}}
    span(style='display: inline-block; width: 130px') {{p.jsDate | date : 'dd/MM/yyyy'}}
    span(style='display: inline-block; width: 130px') {{p.jsReturnDate | date : 'dd/MM/yyyy'}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.currency}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.amount}}

  script(type='text/ng-template', id='PeriodicPayment.html')
    span(style='display: inline-block; width: 130px') {{p.description}}
    span(style='display: inline-block; width: 130px') {{p.date | date : 'dd/MM/yyyy'}}
    span(style='display: inline-block; width: 130px') {{p.period}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.currency}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.amount}}

  script(type='text/ng-template', id='TaxableIncomePayment.html')
    span(style='display: inline-block; width: 130px') NOOOO
    span(style='display: inline-block; width: 130px') {{p.earnedAt | date : 'dd/MM/yyyy'}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.currency}}
    span(style='display: inline-block; width: 130px') {{p.currencyAmount.amount}}
  

  body.md-default-theme(ng-controller='AppCtrl' style='overflow: hidden; height:100%')
    md-content(style='width: 100%;' layout='row')
      md-content(layout='column')
        .md-whiteframe-z1(style='margin:10px')
          div(ng-controller='AccountsListCtrl')
            md-data-table-toolbar
              h2 Accounts
              md-checkbox(ng-model='autoSelect') Auto
              md-datepicker(ng-model='date' ng-disabled='autoSelect')
            md-data-table-container
              table(md-data-table='')
                thead()
                  tr
                    th(name='Name')
                    th(name='Balance')
                    th(name='Currency')
                tbody
                  tr(ng-repeat='account in accounts')
                    td {{account.account.name}}
                    td(style='min-width: 100px;') {{account.balance | number : 2}}
                    td {{account.account.currency}}
                    td
                      button(style='background: none; border: none;')
                        ng-md-icon(icon='delete' style="fill: #ff8c66; cursor:pointer;" size='24' ng-click='delete(account)')
                  tr
                    form(ng-submit='add()')
                      td 
                        md-input-container
                          label Name
                          input(ng-model='newAccountName')
                      td 
                      td 
                        md-input-container
                          label Currency
                          input(ng-model='newAccountCurrency')
                      td
                        button(type='submit' style='background: none; border: none;')
                          ng-md-icon(icon='add' style="fill: #66ffcc; cursor:pointer;" size='24' )

        .md-whiteframe-z1(style='margin:10px')
          md-content(ng-controller='PaymentsListCtrl')
            div(layout-padding='' ng-repeat='p in payments' )
              .md-whiteframe-z1(ng-mouseenter='enteredPayment(p)', ng-mouseleave='leftPayment(p)', layout-padding='')
                div(ng-include='templateFor(p)' style='display: inline-block;')
      
      .md-whiteframe-z1(style='margin:10px')
        md-content(ng-controller='TransactionsListCtrl' layout='column' layout-align='start center' layout-padding='')
          md-data-table-toolbar
            h2 Transactions
          md-data-table-container
            table(md-data-table='')
              thead()
                tr
                  th(name='Description')
                  th(name='Amount')
                  th(name='Date')
              tbody
                tr(md-auto-select='', ng-repeat='transaction in allTransactions' ng-mouseenter='simulateUntil(transaction)' ng-mouseleave='simulateAll()' layout-padding='' ng-style='{"background-color": transaction.higlight ? "#b3ffb3" : null }')
                  td {{transaction.description}}
                  td {{transaction.amount | currency}}
                  td {{transaction.jsDate | date : 'dd/MM/yyyy'}}
        
          //- div(layout-padding='' ng-repeat='transaction in allTransactions' )
          //-   .md-whiteframe-z1(layout='row' )
          //-     span(style='width: 20px; height: 20px', ng-style='{"background": transaction.color}')
          //-     span(style='width: 130px') {{transaction.description}}
          //-     span(style='width: 100px') {{transaction.amount | currency}}
          //-     span(style='width: 100px') Date:
          //-     span(style='width: 250px') {{transaction.jsDate | date : 'dd/MM/yyyy'}}
        
    //- inline
    script(src='./bower_components/lodash/lodash.js', inline='')
    //- inline
    script(src='./bower_components/jquery/dist/jquery.min.js', inline='')
    //- inline
    script(src='./bower_components/jquery-mousewheel/jquery.mousewheel.min.js', inline='')
    //- inline
    script(src='./bower_components/bluebird/js/browser/bluebird.js', inline='')

    script(src='./bower_components/moment/min/moment.min.js', inline='')

    script(src='./bower_components/angular/angular.js')
    script(src='./bower_components/angular-messages/angular-messages.js')
    script(src='./bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='./bower_components/angular-animate/angular-animate.min.js')
    script(src='./bower_components/angular-aria/angular-aria.min.js')
    script(src='./bower_components/angular-material/angular-material.min.js')
    script(src='./bower_components/angular-material-icons/angular-material-icons.min.js')
    script(src='./bower_components/angular-material-data-table/dist/md-data-table.min.js')

    script(src='./finance/utils.js')
    script(src='./finance/model.js')
    script(src='./finance/data.js')
    script(src='./finance/app.js')
